<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s" level="DEBUG"/>
    <logger name="com.github.dockerjava" level="INFO" addivity="false"/>
    <logger name="Main" level="DEBUG" addivity="false"/>
<!--    <logger name="org.http4s.server.message-failures" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>